<html>
<head>
<style media="screen">
  h1{
    color: grey;
    display: inline-block;
  }
  body{
    padding-left: 10%;
  }
  label{
    margin: 10px;
    margin-top: 10px;
  }
  #header{
    position: relative;
    left: 40%;
  }
  .error{
    color: red;
    font-size: 20pt;
    font-weight: bold;
  }
</style>
</head>
  <body>
    <div id="header">
      <a href="{% url 'books:index' %}">Home</a>&nbsp&nbsp <a href="{% url 'books:add' %}">Add book and review</a> &nbsp&nbsp<a href="{% url 'users:logout' %}">Logout</a>
    </div>
      {% if messages %}
        {% for message in messages %}
          <p class='error'>{{message}}</p>
        {% endfor %}
      {% endif %}
    <p>Name:&nbsp{{user.first_name}}&nbsp{{user.last_name}}</p>
    <p>Email:&nbsp{{user.email}}</p>
    <p>Total reviews:&nbsp&nbsp{{user.reviews.count}}</p>
    <h1>Posted reviews on the following books:</h1></br>
    {% if books %}
      <blockquote cite="http://">
        {% for book in books %}
          <a href="{% url 'books:detail' id=book.id%}">{{book.title}}</a></br>
          {% if reviews %}
            <blockquote cite="http://">
              {% for review in reviews %}
                {% if review.book == book %}
                  <p>{{review.content}}&nbsp&nbsp({{review.created_at}})</p>
                {% endif %}
              {% endfor %}
            </blockquote>
          {% endif %}
        {% endfor %}
      </blockquote>
    {% endif %}
  </body>
</html>
