<html>
<head>
<style media="screen">
  body{
    padding-left: 10%;

  }
  input[type="text"]{
    margin: 5px 0 0 0;
  }
  .error{
    color: red;
    font-size: 14pt;
    font-weight: bold;
    display: inline;
  }
  input[type='submit']{
    background-color: blue;
    color: white;
    position: relative;
    left: 15%;
  }
  select{
    width: 80px;
  }
  .headlink{
    position: relative;
    left: 40%;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript"> // src="jqfunction.js"
 $('document').ready(function(){
   $('#inputauthor').focusout(function(){
     if ($(this).val().length>0) {
      $('#selectauthor').prop('disabled', 'disabled')
     }
     else {
      $('#selectauthor').prop('disabled', false)
     }
   });
   $('#selectauthor').focusout(function(){
     if ($(this).val()!=0) {
      $('#inputauthor').prop('disabled', 'disabled')
     }
     else {
      $('#inputauthor').prop('disabled', false)
     }
   });
 }); </script>
</head>
  <body>
    <div id="header">
      <a class='headlink' href="{% url 'books:index' %}">Home</a> &nbsp&nbsp&nbsp <a class='headlink' href="{% url 'users:logout' %}">Logout</a>
    </div>
      <!-- {% if messages %}
        {% for message in messages %}
          <p class='error'>{{message}}</p>
        {% endfor %}
      {% endif %} -->
    <h1>Add a new book title and review</h1>
    <!-- with all the data we can then construct a more structured output -->
      <form class="" action="{% url 'books:create' id='' %}" method="POST">
        {% csrf_token %}
        Book:
        {% if messages %}
          {% for message in messages %}
              {% if message.extra_tags == 'book' %}
            <p class="error",id="{{message.extra_tags}}">{{message}}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
      </br>
        <blockquote cite="http://">
          <input type="text" name="booktitle" value=""></br></br>
        </blockquote>
        Author:
        {% if messages %}
          {% for message in messages %}
              {% if message.extra_tags == 'author' %}
            <p class="error",id="{{message.extra_tags}}">{{message}}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
      </br>
        <blockquote cite="">
          Choose from the list:
          <select id='selectauthor' class="" name="authorid">
            <option value="0" selected> </option>
            {% for author in authors %}
              <option value={{author.id}}>{{author.name}}</option>
            {% endfor %}
          </select></br>
          Or add a new author:
          <input id='inputauthor' type="text" name="authorname" value=""></br></br>
        </blockquote>
        Review:
        {% if messages %}
          {% for message in messages %}
              {% if message.extra_tags == 'review' %}
            <p class="error",id="{{message.extra_tags}}">{{message}}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
      </br>
        <blockquote cite="http://">
          <textarea name="review" rows="8" cols="60"></textarea></br>
        </blockquote>
        Rating:</br>
        <blockquote cite="http://">
          <select class="" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected="">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></br>
        </blockquote>
        <input type="submit" name="" value="Add book and review">
      </form>
  </body>
</html>
