<html>
<head>
<style media="screen">
  body{
    padding-left: 10%;
  }
  .error{
    color: red;
    font-size: 14pt;
    font-weight: bold;
  }
  #leftcol{
    display: inline-block;
    width: 35%;
  }
  #rightcol{
    display: inline-block;
    width: 40%;
    position: relative;
    left: 40px;
    vertical-align: top;
  }
  select{
    width: 60px;
  }
  .headlink{
    position: relative;
    left: 55%;
  }
</style>
</head>
  <body>
    <div id="header">
      <a  class='headlink' href="{% url 'books:index' %}">Home</a>&nbsp&nbsp&nbsp
      <a  class='headlink' href="{% url 'users:logout' %}">Logout</a>
    </div>
      {% if messages %}
        {% for message in messages %}
          <p class='error'>{{message}}</p>
        {% endfor %}
      {% endif %}
    <div id="main">
      <h1>{{book.title}}</h1>
      <p>{{book.author.name}}</p>
      <div id="leftcol">
        <h1>Reviews</h1>
        <hr>        {% load staticfiles %}
        {% if reviews %}
          {% for review in reviews %}
            Rating:{{review.rating}}&nbsp
            {% for i in review.ratingstr %}
              <img class='starimg' src="{% static 'books/Actions-rating-icon.png' %}" alt="">
            {% endfor %}
            {% for i in review.ratingemptystr %}
              <img class='starimg' src="{% static 'books/Actions-rating-icon2.png' %}" alt="">
            {% endfor %}</br>
            <a href="{% url 'users:profile' id=review.post_by.id %}">{{review.post_by.first_name}}</a> &nbsp says:
            {{review.content}}</br>
            Posted on:&nbsp{{review.created_at}}
            {% if review.post_by.id == request.session.id %}
              <a href="{% url 'books:delete' id=review.id %}">Delete the review</a>
            {% endif %}
            <hr></br>
          {% endfor %}
        {% endif %}
      </div>
      <div id="rightcol">
        <h1>Add a Review</h1>
        <form class="" action="{% url 'books:create' id=book.id %}" method="POST">
          {% csrf_token %}
          <textarea name="review" rows="8" cols="50"></textarea></br></br>
          Rating:&nbsp&nbsp
          <select class="" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></br></br>
          <input type="submit" name="" value="Submit Review">
        </form>
      </div>
    </div>
  </body>
</html>
