<html>
<head>
<style media="screen">
  body{
    padding-left: 10%;

  }
  input[type="text"]{
    margin: 5px 0 0 0;
  }
  .error{
    color: red;
    font-size: 14pt;
    font-weight: bold;
  }
  input[type='submit']{
    background-color: blue;
    color: white;
  }
</style>
</head>
  <body>
      {% if messages %}
        {% for message in messages %}
          <p class='error'>{{message}}</p>
        {% endfor %}
      {% endif %}
    <h1>Edit Product &nbsp{{product.id}}</h1>
    <!-- with all the data we can then construct a more structured output -->
      <form class="" action="{% url 'semi:index' %}" method="POST">
        {% csrf_token %}
        Name:</br>
        <input type="hidden" name="act" value="update">
        <input type="hidden" name="id" value="{{product.id}}">
        <input type="text" name="name" value="{{product.name}}"></br></br>
        Descriptio:</br>
        <input type="text" name="desc" value="{{product.desc}}"></br></br>
        Price:</br>
        <input type="text" name="price" value="{{product.price}}"></br></br>
        <input type="submit" name="" value="Update">
      </form>
    <a href="{% url 'semi:show' id=product.id %}">Show</a>
    &nbsp|&nbsp
    <a href="{% url 'semi:index' %}">Go Back</a>
  </body>
</html>
